@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDOS</h1>
    <p>Learn about <a href="https://www.losindecisos.com">desarrollado por los indecisos</a>.</p>
    <button>RESERVAR</button>
</div>

