@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4;font-weight:bold;">BIENVENIDOS</h1>
    <p style="text-align :right;text-justify:inter-word; font-family:Arial,sans-serif;font-size:28px;font-weight:bold;">¡Bienvenido a nuestra página de canchas de wally! Sumérgete en la 
        emoción de este apasionante deporte 
        con nuestras instalaciones de primera clase. 
        ¡Prepárate para vivir momentos inolvidables de diversión 
        y competición en nuestras canchas!</p>
    
    <p>Learn about <a href="https://www.losindecisos.com">desarrollado por los indecisos</a>.</p>
    <button>RESERVAR</button>
</div>



