@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4;font-weight:bold;">¡SEA USTED BIENVENIDO AL SISTEMA!</h1>
    <p style="text-align :right;text-justify:inter-word; font-family:Arial,sans-serif;font-size:28px;font-weight:bold;">

    </p>

    <p>Learn about <a href="https://www.losindecisos.com">desarrollado por los indecisos</a>.</p>

</div>




