
@{
    Layout = null;
}

<!DOCTYPE html>

<div>
    <style>
        a {
            display: block;
            width: 50px;
            font-family: Arial,Helvetica, sans-serif;
            font-weight: 700;
            border-radius: 10px;
            margin: 20px 1000px;
            padding: 15px 80px;
            background-color: blue;
            color: white;
            text-decoration: none;
        }
    </style>
    <a class="btn" href="/Login">Iniciar Sesion</a>

</div>
<div class="text-center">
    <p style="text-align :center;text-justify:inter-word; font-family:Arial,sans-serif;font-size:70px;font-weight:bold;">
        BIENVENIDOS
    </p>
    <p style="text-align :center;text-justify:inter-word; font-family:Arial,sans-serif;font-size:28px;font-weight:bold;">
        ¡Bienvenido al complejo deportivo ANDyNA! Sumérgete en la
        emoción de este apasionante deporte
        con nuestras instalaciones de primera clase.
        ¡Prepárate para vivir momentos inolvidables de diversión
        y competición en nuestras canchas!
    </p>

    <style>
        b {
            display: block;
            width: 50px;
            font-family: Arial,Helvetica, sans-serif;
            font-weight: 700;
            border-radius: 10px;
            margin: 20px 500px;
            padding: 10px 90px;
            background-color: blue;
            color: white;
            text-decoration: none;
        }
    </style>
    <b class="btn" href="">RESERVAR</b>
    
</div>
